doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='//yastatic.net/d3/3.4.5/d3.min.js')
  body
    block content
