doctype html
html
  head
    title Moscow
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='//d3js.org/d3.v3.min.js')
    script(type='text/javascript', src='//d3js.org/topojson.v1.min.js')
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/q.js/1.4.1/q.min.js')
    script(type='text/javascript', src='/javascripts/map.js')
  body
    block content
    script(type='text/javascript').
        M.init();