doctype html
html
  head
    title Moscow
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='//yastatic.net/d3/3.4.5/d3.min.js')
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/q.js/1.4.1/q.min.js')
    script(type='text/javascript', src='/javascripts/map.js')
  body
    block content
    script(type='text/javascript').
        M.init();