html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: Helvetica;
}
.district {
  fill: #c0c0c0;
  stroke: #999;
}
circle.center {
  fill: #4682b4;
}
circle.peref {
  fill: #ffa500;
}
.centerbar,
.centerarea {
  fill: #4682b4;
}
.perefbar,
.perefarea {
  fill: #ffa500;
}
