html, body
  padding 0
  margin 0
  height 100%
  font-family Helvetica

.district
  fill #c0c0c0
  stroke #999

circle.center
  fill steelblue

circle.peref
  fill orange
  
.centerbar, .centerarea
  fill steelblue

.perefbar, .perefarea
  fill orange