html, body
  padding 0
  margin 0
  height 100%

.histogram
  position fixed
  right 0
  top 10%
  padding 20px
  width 300px
  height 100px
  
  background-color #000
  opacity .8

.origin
  position absolute
  width 0
  height 0
  left 50%
  top 50%

.district
  fill #ccc
  stroke #ddd

circle.center
  fill steelblue
  stroke: #fff

circle.peref
  fill orange
  stroke #fff
  
.centerbar, .centerarea
  fill steelblue

.perefbar, .perefarea
  fill orange