html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}
.histogram {
  position: fixed;
  right: 0;
  top: 10%;
  padding: 20px;
  width: 300px;
  height: 200px;
  font-family: Helvetica;
  background-color: #ccc;
  border: 1px #000 solid;
  opacity: 0.8;
}
.district {
  fill: #ccc;
  stroke: #999;
}
circle.center {
  fill: #4682b4;
}
circle.peref {
  fill: #ffa500;
}
.centerbar,
.centerarea {
  fill: #4682b4;
}
.perefbar,
.perefarea {
  fill: #ffa500;
}
